<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<div>
		<div>
			<h3>사용자목록</h3>
		</div>
	
		<div>
			<table border="1">
				<thead>
					<tr>
						<th>아이디</th>
						<th>비밀번호</th>
						<th>성명</th>
						<th>전화번호</th>
						<th>관리</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:if="${list.size() < 1}">
						<td colspan="5">등록된 사용자가 없습니다.</td>
					</tr>
				
					<tr th:each="item : ${list}">
						<td th:text="${item.id}">-</td>
						<td th:text="${item.password}">-</td>
						<td th:text="${item.name}">-</td>
						<td th:text="${item.tel}">-</td>	
						<td>
							<a th:href="@{|update/${item.id}|}">변경</a>
							<a th:href="@{|delete/${item.id}|}">삭제</a>
						</td>				
					</tr>
				</tbody>	
			
				<tfoot>
				</tfoot>
			
			</table>
		</div>
		
		<div>
			<div><a href="add">등록</a></div>
			<div><a href="..">이전</a></div>
		</div>
		
	
	</div>
</body>
</html>